#load_screen{
    background:none;
    opacity: 1;
    position: fixed;
    z-index: 10;
    top:0px;
    width:50%;
    height:120px;
}
#load_screen > .loader{
    border: 16px solid white;
    border-radius: 50%;
    border-top:16px solid orange;
    margin-left:650px;
    margin-top:300px;
    width:120px;
    height:120px;
    animation: spin 1s linear infinite;
}
@keyframes spin{
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}    
}